.component {
  background-color: blueviolet;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
}
.component img {
  width: 150px;
}
.comp {
  background-color: white;
  width: 150px;
  margin: 2rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
